.border {
    border: solid black solid 2px;
    width: 692px;
	border-radius: 5px;
}
.container2 {
    background-color: rgb(170, 167, 167, 0.4);
}
.temperature { 
    color:#eb9a00;
}
.humidity { 
    color:#1f9cdc;
}
.pressure { 
    color:#1a8d43;
}
.altitude { 
    color:#6a3eb1;
}
.padding { 
    padding: 5px;
}
.padding2 { 
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.padding3 { 
    padding-left: 10px;
    padding-right: 10px;
}